<app-paginate (setPaginate)="paginateParent($event)"> </app-paginate>
<p>
  <button routerLink="/addDragon" class="btn btn-secondary">
    Add a dragon
  </button>
</p>
<p [@openClosed]="isOpen ? 'open' : 'closed'" class="alert alert-success">
  {{ message }}
</p>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Name</th>
      <th>Knight</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let dragon of dragons">
      <td>
        <button
          class="btn btn-danger"
          routerLink="/update/dragon/{{ dragon.id }}"
        >
          Update
        </button>
      </td>
      <td routerLink="{{ dragon.id }}">
        {{ dragon.name }}
        <!--   </td>
      <td>
        <button
          class="btn btn-light"
          routerLink="/delete/dragon/{{ dragon.id }}"
        >
          Delete
        </button>
      </td> -->
      </td>

      <td routerLink="{{ knight.id }}">chevalier {{ dragon.knight }}</td>

      <td>
        <button
          data-bs-toggle="modal"
          data-bs-target="#modalDelete"
          class="btn btn-danger"
          (click)="onDelete(dragon.id)"
        >
          Delete Pop-up
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #elseBlock>No dragon </ng-template>
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteLabel">Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Voulez-vous vraiment supprimer ce dragon ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
