<p>
  <button routerLink="/addDragon" class="btn btn-secondary">
    Add a dragon
  </button>
</p>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let dragon of dragons">
      <td>
        /update/dragon/{{ dragon.id }}
        <a routerLink="/update/dragon/{{ dragon.id }}"> test </a>
        <button
          class="btn btn-danger"
          routerLink="/update/dragon/{{ dragon.id }}"
        >
          Update
        </button>
      </td>
      <td>
        {{ dragon.name }}
      </td>
      <td>
        <button
          class="btn btn-light"
          routerLink="/delete/dragon/{{ dragon.id }}"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
